.div-hbusqueda{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
}

.busqueda{
    display: flex;
    width: 80%;

}

.button-head{
    margin-left: 30px;

}

.selectInventory{
    width: 150px !important;
    margin-left: 10px;

}